// Start Events
div(class="events" id="events")
  div(class="dots dots-up")
  div(class="dots dots-down")
  h2(class="main-title") Latest Events
  div(class="container")
    img(src="/dist/images/events.png" alt="")
    div(class="info")
      div(class="time")
        div(class="unit")
          span(class="days") 10
          span Days

        div(class="unit")
          span(class="hours") 08
          span Hours

        div(class="unit")
          span(class="minutes") 32
          span Minutes
        div(class="unit")
          span(class="seconds") 55
          span Seconds

      h2(class="title") Tech Masters Event 2022
      p(class="description") Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro

    div(class="subscribe") 
      form(action="")
        input(type="email" placeholder="Enter Your Email")
        input(type="submit" value="Subscribe")
// End Events