<!-- Start Footer -->
div(class="footer")
  div(class="container")
    div(class="box")
      h3 Code
      ul(class="social")
        li
          a(href="#" class="facebook")
            i(class="fab fa-facebook-f")

        li
          a(href="#" class="twitter")
            i(class="fab fa-twitter")

        li
          a(href="#" class="youtube")
            i(class="fab fa-youtube")

      p(class="text") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus nulla rem, dignissimos iste aspernatur

    div(class="box")
      ul(class="links")
        li: a(href="#") Important Link 1
        li: a(href="#") Important Link 2
        li: a(href="#") Important Link 3
        li: a(href="#") Important Link 4
        li: a(href="#") Important Link 5

    div(class="box")
      div(class="line")
        i(class="fas fa-map-marker-alt fa-fw")
        div(class="info") Mainz, Hauptstraße.1

      div(class="line")
        i(class="far fa-clock fa-fw")
        div(class="info") Business Hours: From 10:00 To 18:00

      div(class="line")
        i(class="fas fa-phone-volume fa-fw")
        div(class="info")
          span +017678537994

    div(class="box footer-gallery")
      img(src="/dist/images/gallery-01.png" alt="")
      img(src="/dist/images/gallery-02.png" alt="")
      img(src="/dist/images/gallery-03.jpg" alt="")
      img(src="/dist/images/gallery-04.png" alt="")
      img(src="/dist/images/gallery-05.jpg" alt="")
      img(src="/dist/images/gallery-06.png" alt="")

  div(class="credit")
    div Designed by 
      span(class="author") Osama Mohamed

    div Implemented with by 
      span(class="author") Belal Aljumaa
// End Footer