// Start Gallery
div(class="gallery" id="gallery")
  h2(class="main-title") Gallery
  div(class="container")
    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-01.png" alt="")

    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-02.png" alt="")

    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-03.jpg" alt="")

    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-04.png" alt="")

    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-05.jpg" alt="")

    div(class="box")
      div(class="image")
        img(src="/dist/images/gallery-06.png" alt="" )
// End Gallery