// Start Header
div(class="header" id="header")
  div(class="container")
    a(href="#" class="logo") Code
    ul(class="main-nav")
      li: a(href="#articles") Articles
      li: a(href="#gallery") Gallery
      li: a(href="#features") Features
      li: a(href="#") Other Links
            div(class="mega-menu")
              div(class="image")
                img(src="/dist/images/megamenu.png" alt="")
              ul(class="links")
                li: a(href="#testimonials")
                      i(class="far fa-comments fa-fw")
                      |  Testimonials
                li: a(href="#team")
                      i(class="far fa-user fa-fw")
                      |  Team Members
                li: a(href="#services")
                      i(class="far fa-building fa-fw")
                      |  Services
                li: a(href="#our-skills")
                      i(class="far fa-check-circle fa-fw")
                      |  Our Skills
                li: a(href="#work-steps")
                      i(class="far fa-clipboard fa-fw")
                      |  How It Works
              ul(class="links")
                li: a(href="#events")
                      i(class="far fa-calendar-alt fa-fw")
                      |  Events
                li: a(href="#pricing")
                      i(class="fas fa-server fa-fw")
                      |  Pricing Plans
                li: a(href="#video")
                      i(class="far fa-play-circle fa-fw")
                      |  Top Videos
                li: a(href="#stats")
                      i(class="far fa-chart-bar fa-fw")
                      |  Stats
                li: a(href ="#discount")
                      i(class="fas fa-percent fa-fw")
                      |  Request A Discount
// End Header