// Start Landing
div(class="landing")
  div(class="container")
    div(class="text")
      h1 Welcome, To Code World
      p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events

    div(class="image")
      img(src="/dist/images/landing-image.png" alt="")
  a(href="#articles" class="go-down"): i(class="fas fa-angle-double-down fa-2x")
// End Landing