// Start Pricing
div(class="pricing" id="pricing")
  div(class="dots dots-up")
  div(class="dots dots-down")
  h2(class="main-title") Pricing Plans
  div(class="container")
    div(class="box")
      div(class="title") Basic
      img(src="imgs/hosting-basic.png" alt="")
      div(class="price")
        span(class="amount") $15
        span(class="time") Per Month

      ul
        li 10GB HDD Space
        li 5 Email Addresses
        li 2 Subdomains
        li 4 Databases
        li Basic Support
      a(href="#") Choose Plan

    div(class="box popular")
      div(class="label") Most Popular
      div(class="title") Advanced
      img(src="imgs/hosting-advanced.png" alt="")
      div(class="price")
        span(class="amount") $25
        span(class="time") Per Month

      ul
        li 20GB HDD Space
        li 10 Email Addresses
        li 5 Subdomains
        li 8 Databases
        li Advanced Support
      a(href="#")  Choose Plan

    div(class="box")
      div(class="title") Professional
      img(src="imgs/hosting-professional.png" alt="")
      div(class="price")
        span(class="amount") $45
        span(class="time") Per Month

      ul
        li 50GB HDD Space
        li 20 Email Addresses
        li 10 Subdomains
        li 20 Databases
        li Professional Support
      a(href="#") Choose Plan
// End Pricing