// Start Stats
div(class="stats" id="stats")
  h2 Our Awesome Stats
  div(class="container")
    div(class="box")
      i(class="far fa-user fa-2x fa-fw")
      span(class="number") 150
      span(class="text") Clients

    div(class="box")
      i(class="fas fa-code fa-2x fa-fw")
      span(class="number") 100
      span(class="text") Projects

    div(class="box")
      i(class="fas fa-globe-asia fa-2x fa-fw")
      span(class="number") 50
      span(class="text") Countries

    div(class="box")
      i(class="far fa-money-bill-alt fa-2x fa-fw")
      span(class="number") 2000
      span(class="text") Money
// End Stats