// Start Team 
div(class="team" id="team")
  h2(class="main-title") Team Members
  div(class="container")
    div(class="box")
      div(class="data")
        img(src="/dist/images/team-01.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          </a>
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-02.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-03.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-04.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-05.png" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-06.png" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-07.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description
    
    div(class="box")
      div(class="data")
        img(src="/dist/images/team-08.jpg" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

    div(class="box")
      div(class="data")
        img(src="/dist/images/team-09.png" alt="")
        div(class="social")
          a(href="#")
            i(class="fab fa-facebook-f")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin-in")
          a(href="#")
            i(class="fab fa-youtube")

      div(class="info")
        h3 Name
        p Simple Short Description

div(class="spikes")
// End Team