// Start Testimonials
div(class="testimonials" id="testimonials")
  h2(class="main-title") Testimonials
  div(class="container")
    div(class="box")
      img(src="/dist/images/avatar-01.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="far fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus

    div(class="box")
      img(src="/dist/images/avatar-02.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="far fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus

    div(class="box")
      img(src="/dist/images/avatar-03.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="far fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus

    div(class="box")
      img(src="/dist/images/avatar-04.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis        voluptatum, amet est natus quaerat ducimus

    div(class="box")
      img(src="/dist/images/avatar-05.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="far fa-star")
        i(class="far fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus

    div(class="box")
      img(src="/dist/images/avatar-06.png" alt="")
      h3 Jon Deo
      span(class="title") Full Stack Developer
      div(class="rate")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="filled fas fa-star")
        i(class="far fa-star")
        i(class="far fa-star")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
// End Testimonials