// Start Videos
div(class="videos" id="videos")
  h2(class="main-title") Top Videos
  div(class="container")
    div(class="holder")
      div(class="list")
        div(class="name") Top Videos
          i(class="fas fa-random")

        ul
          li How To Create Sub Domain 
            span 05:18
          li Playing With The DNS 
            span 03:18
          li(class="active") Everything About The Virtual Hosts 
            span 05:25
          li How To Monitor Your Website 
            span 04:16
          li Uncharted Beating The Last Boss 
            span 07:48
          li Ys Oath In Felghana Overview 
            span 03:12
          li Ys Series All Games Ending 
            span 08:10

      div(class="preview")
        img(src="/dist/images/video-preview.jpg" alt="")
        div(class="info") Everything About The Virtual Hosts
// End Videos