doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Code Company
    include pug/style
  body
    include pug/header
    include pug/landing
    include pug/articles
    include pug/gallery
    include pug/features
    include pug/testimonials
    include pug/team
    include pug/services
    include pug/skills
    include pug/web_steps
    include pug/events
    include pug/pricing
    include pug/videos
    include pug/stats
    include pug/discount
    include pug/footer
  script(src="http://localhost:35729/livereload.js")